* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* MAIN CONTAINER */

.quiz-container {
    width: min(900px, 95vw);
    border-radius: 30px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* QUESTION */

.question-box {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #2f4f4f;
    font-weight: 500;
}

/* IMAGE */

.question-image {
    display: flex;
    justify-content: center;
    width: 100%;
}

.question-image img {
    width: 300px;
    height: 230px;
    object-fit: contain;/
}

.answers {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    height: 90px;
    border-radius: 50px;
    font-size: 26px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: white;
    position: relative;
    box-shadow:
        0 8px 0 rgba(0, 0, 0, .15),
        inset 0 0 0 3px rgba(255, 255, 255, .35);

    transition: .25s;
}

.answer.true,
.answer.false {
    background: linear-gradient(180deg, #fef6e7, #f9e2c2);

    box-shadow:
        0 8px 0 #e6c49a,
        inset 0 0 0 3px rgba(255, 255, 255, .7);

    color: #5b4632;
}

.answer.correct {
    background: linear-gradient(180deg, #7ee7c3, #34c38f);
    box-shadow:
        0 8px 0 #2aa876,
        inset 0 0 0 3px rgba(255, 255, 255, .6);
    opacity: 1 !important;
}

.answer.wrong {
    background: linear-gradient(180deg, #ffb3b3, #ff6b6b);
    box-shadow:
        0 8px 0 #e05252,
        inset 0 0 0 3px rgba(255, 255, 255, .6);
    opacity: .55;
}

/* ICON CIRCLE */

.icon-circle {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, .25);
    box-shadow:
        inset 0 2px 6px rgba(0, 0, 0, .2),
        0 0 0 3px rgba(255, 255, 255, .3);
    font-size: 33px;
    font-weight: 900;
    color: white;
}

/* HOVER */

.answer:hover:not(:disabled) {
    transform: translateY(-4px) scale(1.02);
}

.answer:disabled {
    opacity: .4;
    cursor: not-allowed;
}

/* NAV */

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.nav button {
    font-weight: 400;
    font-size: 18px;
    border: none;
    padding: 12px 32px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    border: 3px solid #fff;
}

.prev {
    background: linear-gradient(#86cfe5, #66b6d2);
    box-shadow: 0 4px 0 #3e9dbb;
}

.next {
    background: linear-gradient(#ffc37a, #f7a24f);
    box-shadow: 0 4px 0 #e08634;
}

.prev:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #3e9dbb;
}

.next:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #e08634;
}

.nav button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.kid-popup {
    position: fixed;
    inset: 0;
    /* background: rgba(255, 255, 255, 0.4); */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3000;
}

.kid-card {
    background: #ffffff;
    width: 320px;
    padding: 25px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 15px 0 #ffd966, 0 25px 40px rgba(0, 0, 0, 0.2);
    animation: kidPop 0.6s ease;
}

.kid-icon {
    font-size: 4.5em;
    margin-bottom: 10px;
    animation: emojiBounce 0.9s infinite alternate;
}

.kid-card h3 {
    font-size: 2em;
    font-family: "Livvic";
    margin-bottom: 8px;
}

.kid-card p {
    font-size: 1.2em;
    font-family: "Livvic";
}

/* Correct */
.kid-correct .kid-card {
    background: #e6fffa;
    border: 6px solid #38d9a9;
}

.kid-correct h3 {
    color: #2f9e44;
}

.kid-correct p {
    color: #1c7c54;
}

/* Wrong */
.kid-wrong .kid-card {
    background: #fff5f5;
    border: 6px solid #ffa8a8;
}

.kid-wrong h3 {
    color: #e03131;
}

.kid-wrong p {
    color: #c92a2a;
}

/* Animations */
@keyframes kidPop {
    0% {
        transform: scale(0.3) rotate(-10deg);
        opacity: 0;
    }

    60% {
        transform: scale(1.1) rotate(5deg);
    }

    100% {
        transform: scale(1) rotate(0);
        opacity: 1;
    }
}

@keyframes emojiBounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15px);
    }
}

#finalPopup {
    position: fixed;
    inset: 0;
    /* background: rgba(255, 255, 255, 0.4); */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 4000;
}

.final-kid-box {
    background: linear-gradient(135deg, #fff7d6, #e6fff5);
    padding: 30px 35px;
    border-radius: 35px;
    text-align: center;
    width: 450px;
    animation: finalBounce 0.8s ease;
    box-shadow: 0 20px 0 #ffd43b, 0 30px 50px rgba(0, 0, 0, 0.2);
}

.final-kid-box h2 {
    font-size: 2.2em;
    font-family: "Livvic";
    color: #2f9e44;
    margin-bottom: 10px;
}

.final-kid-box p {
    font-size: 1.3em;
    font-family: "Livvic";
    font-weight: 600;
}

#stars {
    font-size: 2.3em;
    margin: 12px 0;
}

/* Play Again Button */
.playAgain-btn {
    background: #ffac30;
    color: white;
    border: none;
    padding: 14px 34px;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: 400;
    cursor: pointer;
    margin-top: 12px;
}

.playAgain-btn:active {
    transform: translateY(6px);
    box-shadow: 0 2px 0 #1c7ed6;
}

/* Animation */
@keyframes finalBounce {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }

    60% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* RESPONSIVE */

@media(max-width:768px) {

    body {
        overflow: auto;
    }

    .question-box {
        font-size: 22px;
    }

    .answers {
        grid-template-columns: 1fr;
    }

    .answer {
        height: 80px;
        font-size: 24px;
    }

    .question-image img {
        width: 230px;
        height: 180px;
    }

}

/* FINAL POPUP RESPONSIVE */

@media (max-width:768px) {

    .final-kid-box {
        width: 380px;
        padding: 26px 28px;
        border-radius: 28px;
    }

    .final-kid-box h2 {
        font-size: 1.9em;
    }

    .final-kid-box p {
        font-size: 1.1em;
    }

    #stars {
        font-size: 2em;
    }

    .playAgain-btn {
        padding: 12px 28px;
        font-size: 1em;
    }

}

@media (max-width:480px) {

    .kid-card {
        width: 260px;
        padding: 15px;
    }

    .kid-icon {
        font-size: 3em;
    }

    .kid-card h3 {
        font-size: 1.5em;
    }

    .final-kid-box {
        width: 90%;
        max-width: 320px;
        padding: 22px 18px;
        border-radius: 24px;
    }

    .final-kid-box h2 {
        font-size: 1.6em;
    }

    .final-kid-box p {
        font-size: 1em;
    }

    #stars {
        font-size: 1.7em;
    }

    .playAgain-btn {
        width: 100%;
        padding: 12px;
        font-size: 0.95em;
    }

}