* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.quiz-container {
    width: 900px;
    padding: 25px;
    border-radius: 30px;
    text-align: center;
}

.question-section {
    margin: 10px 0;
}

.question-title {
    font-size: 30px;
    color: #2f4f4f;
    font-weight: 400;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#questionImage {
    width: 230px;
    height: 180px;
    object-fit: contain;
}

.answer-slots {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 0;
}

.answer-slot {
    width: 60px;
    height: 60px;
    background: #dad7d7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
    color: #333;
    clip-path: polygon(20% 0, 80% 0, 100% 25%, 100% 75%, 80% 100%, 20% 100%, 0 75%, 0 25%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
    transition: .2s ease;
}

.answer-slot:hover {
    transform: scale(1.08);
}

.answer-slot.correct {
    background: #d2fde0;
    color: #2e7d32;
}

.answer-gap {
    width: 15px;
}

.letter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
    border-radius: 20px;
}

.letter-tile {
    width: 75px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    border-radius: 14px;
    background: linear-gradient(135deg, #f3c877, #f1a532);
    box-shadow: 0 5px 0 #c48b1e, 0 8px 14px rgba(0, 0, 0, .2);
    transition: .18s;
    position: relative;
}

.letter-tile:hover {
    transform: translateY(-4px) scale(1.1);
    background: linear-gradient(135deg, #eeb750, #cf8412);
}

.letter-tile:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #c48b1e;
}

.letter-tile.used {
    opacity: .3;
    pointer-events: none;
    transform: none;
    box-shadow: none;
}

.quiz-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.quiz-navigation button {
    width: 130px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 35px;
    border: 3px solid #ffffff;

    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;

    transition: .15s ease;
}

#previousButton {
    background: linear-gradient(#b5dffc, #7fc0eb);
    box-shadow: 0 4px 0 #4da5d4;
}

#nextButton {
    background: linear-gradient(#f1e390, #ecc74e);
    box-shadow: 0 4px 0 #d1a72c;
}

#previousButton:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #4da5d4;
}

#nextButton:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #d1a72c;
}

.quiz-navigation button:active {
    transform: scale(.95);
}

.quiz-navigation button:disabled {
    opacity: .4;
    cursor: not-allowed;
}

/* POPUP */

.kid-popup {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3000;
}

.kid-card {
    background: #fff;
    width: 320px;
    padding: 25px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 15px 0 #ffd966, 0 25px 40px rgba(0, 0, 0, 0.2);
    animation: kidPop 0.6s ease;
}

.kid-icon {
    font-size: 4.5em;
    margin-bottom: 10px;
    animation: emojiBounce .9s infinite alternate;
}

.kid-card h3 {
    font-size: 2em;
    margin-bottom: 8px;
}

.kid-card p {
    font-size: 1.2em;
}

.kid-correct .kid-card {
    background: #e6fffa;
    border: 6px solid #38d9a9;
}

.kid-wrong .kid-card {
    background: #fff5f5;
    border: 6px solid #ffa8a8;
}

@keyframes kidPop {
    0% {
        transform: scale(.3) rotate(-10deg);
        opacity: 0
    }

    60% {
        transform: scale(1.1) rotate(5deg)
    }

    100% {
        transform: scale(1) rotate(0);
        opacity: 1
    }
}

@keyframes emojiBounce {
    from {
        transform: translateY(0)
    }

    to {
        transform: translateY(-15px)
    }
}

/* FINAL POPUP */

#finalPopup {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 4000;
}

.final-kid-box {
    background: linear-gradient(135deg, #fff7d6, #e6fff5);
    padding: 30px 35px;
    border-radius: 35px;
    text-align: center;
    width: 450px;
    animation: finalBounce .8s ease;
    box-shadow: 0 20px 0 #ffd43b, 0 30px 50px rgba(0, 0, 0, 0.2);
}

.final-kid-box h2 {
    font-size: 2.2em;
    color: #2f9e44;
    margin-bottom: 10px;
}

.final-kid-box p {
    font-size: 1.3em;
    font-weight: 600;
}

#stars {
    font-size: 2.3em;
    margin: 12px 0;
}

.playAgain-btn {
    background: #ffac30;
    color: white;
    border: none;
    padding: 14px 34px;
    border-radius: 30px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 12px;
}

@keyframes finalBounce {
    0% {
        transform: scale(.3);
        opacity: 0
    }

    60% {
        transform: scale(1.15)
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@media (max-width:900px) {

    body {
        align-items: center;
        padding: 20px;
        overflow: auto;
    }

    .quiz-container {
        width: 100%;
        max-width: 900px;
        padding: 25px;
    }

    .question-title {
        font-size: 26px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
    }

    #questionImage {
        width: 200px;
        height: 150px;
    }

    .answer-slots {
        gap: 10px;
        margin-block: 20px;
    }

    .answer-slot {
        width: 55px;
        height: 55px;
        font-size: 24px;
    }

    .letter-tile {
        width: 70px;
        height: 50px;
        font-size: 20px;
    }

    .quiz-navigation {
        margin-top: 50px;
    }

    .quiz-navigation button {
        width: 150px;
        height: 60px;
        font-size: 25px;
    }

    .final-kid-box {
        width: 90%;
        max-width: 340px;
        padding: 22px;
    }

    .final-kid-box h2 {
        font-size: 1.8em;
    }

    .final-kid-box p {
        font-size: 1.1em;
    }

    #stars {
        font-size: 1.8em;
    }

}

@media (max-width:768px) {
    .quiz-container {
        padding: 20px;
    }

    .question-title {
        font-size: 22px;
    }

    #questionImage {
        width: 180px;
        height: 140px;
    }

    .answer-slots {
        gap: 8px;
    }

    .answer-slot {
        width: 50px;
        height: 50px;
        font-size: 22px;
    }

    .letter-container {
        gap: 10px;
    }

    .letter-tile {
        width: 65px;
        height: 48px;
        font-size: 18px;
    }

    .quiz-navigation button {
        width: 120px;
        height: 45px;
        font-size: 18px;
    }

}

@media (max-width:480px) {

    body {
        padding: 30px 0 10px;
        align-items: flex-start;
    }

    .question-title {
        font-size: 20px;
    }

    #questionImage {
        width: 150px;
        height: 160px;
    }

    .answer-slots {
        flex-wrap: wrap;
        gap: 8px;
        margin-block: 20px;
    }

    .answer-slot {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .answer-gap {
        width: 10px;
    }


    .letter-container {
        gap: 8px;
    }

    .letter-tile {
        width: 50px;
        height: 35px;
        font-size: 17px;
    }

    .quiz-navigation {
        margin-top: 40px;
    }

    .quiz-navigation button {
        width: 120px;
        height: 45px;
        font-size: 18px;
    }

    .kid-card {
        width: 260px;
        padding: 15px;
    }

    .kid-icon {
        font-size: 3em;
    }

    .kid-card h3 {
        font-size: 1.5em;
    }

    .final-kid-box {
        width: 90%;
        max-width: 300px;
        padding: 20px;
    }

    .final-kid-box h2 {
        font-size: 1.5em;
    }

    .final-kid-box p {
        font-size: 1em;
    }

    #stars {
        font-size: 1.6em;
    }

    .playAgain-btn {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}

/* ========================================
   💻 Desktop / Monitor (1025px – 1440px)
======================================== */
@media screen and (min-width: 1025px) and (max-width: 1440px) {

    .quiz-container {
        width: 1000px;
    }

    .question-title {
        font-size: 32px;
    }

    #questionImage {
        width: 260px;
        height: 200px;
    }

    .answer-slot {
        width: 65px;
        height: 65px;
        font-size: 28px;
    }

    .letter-tile {
        width: 80px;
        height: 60px;
        font-size: 24px;
    }

    .quiz-navigation button {
        width: 140px;
        height: 60px;
        font-size: 22px;
    }

}


/* ========================================
   🖥️ Large Monitors (1441px – 1920px)
======================================== */
@media screen and (min-width: 1441px) and (max-width: 1920px) {

    .quiz-container {
        width: 1100px;
    }

    .question-title {
        font-size: 36px;
    }

    #questionImage {
        width: 300px;
        height: 230px;
    }

    .answer-slot {
        width: 70px;
        height: 70px;
        font-size: 30px;
    }

    .letter-tile {
        width: 90px;
        height: 65px;
        font-size: 26px;
    }

    .quiz-navigation button {
        width: 150px;
        height: 65px;
        font-size: 24px;
    }

}


/* ========================================
   📺 Extra Large Screens / 4K (1921px+)
======================================== */
@media screen and (min-width: 1921px) {

    .quiz-container {
        width: 1200px;
    }

    .question-title {
        font-size: 40px;
    }

    #questionImage {
        width: 340px;
        height: 260px;
    }

    .answer-slot {
        width: 75px;
        height: 75px;
        font-size: 32px;
    }

    .letter-tile {
        width: 100px;
        height: 70px;
        font-size: 28px;
    }

    .quiz-navigation button {
        width: 160px;
        height: 70px;
        font-size: 26px;
    }

}