* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.game {
    width: min(900px, 95vw);
    border-radius: 30px;
    padding: 30px;
    position: relative;
}

.quiz-type {
    position: absolute;
    top: 2%;
    left: -20%;
    font-size: 25px;
    font-weight: 500;
    color: rgb(23, 99, 73);
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.title {
    font-size: 28px;
    color: #1e293b;
}

.question-box {
    padding: 30px;
    font-size: 30px;
    color: #2f4f4f;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.question-image {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}

.question-image img {
    width: 280px;
    height: 230px;
}

.answers {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 20px;
    margin-inline: auto;
}

.answer {
    height: 100px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .25s;
    color: white;
}

.answer.true {
    background: linear-gradient(180deg, #34d399, #10b981);
}

.answer.false {
    background: linear-gradient(180deg, #fb7185, #ef4444);
}

.answer:hover:not(:disabled) {
    transform: translateY(-6px) scale(1.03);
}

.answer.correct {
    opacity: 1;
}

.answer:disabled {
    opacity: .4;
    cursor: not-allowed;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.nav button {
    width: 140px;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 35px;
    border: 3px solid #ffffff;

    font-size: 20px;
    font-weight: 400;
    color: #ffffff;

    cursor: pointer;

    background-size: 200% 200%;

    transition: .15s ease;
}

.prev {
    background: linear-gradient(#86cfe5, #66b6d2);
    box-shadow: 0 4px 0 #3e9dbb;
}

.next {
    background: linear-gradient(#ffc37a, #f7a24f);
    box-shadow: 0 4px 0 #e08634;
}

.prev:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #3e9dbb;
}

.next:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #e08634;
}


.nav button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.kid-popup {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3000;
}

.kid-card {
    background: #ffffff;
    width: 320px;
    padding: 25px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 15px 0 #ffd966, 0 25px 40px rgba(0, 0, 0, 0.2);
    animation: kidPop 0.6s ease;
}

.kid-icon {
    font-size: 4.5em;
    margin-bottom: 10px;
    animation: emojiBounce 0.9s infinite alternate;
}

.kid-card h3 {
    font-size: 2em;
    margin-bottom: 8px;
}

.kid-card p {
    font-size: 1.2em;
}

.kid-correct .kid-card {
    background: #e6fffa;
    border: 6px solid #38d9a9;
}

.kid-correct h3 {
    color: #2f9e44;
}

.kid-correct p {
    color: #1c7c54;
}

.kid-wrong .kid-card {
    background: #fff5f5;
    border: 6px solid #ffa8a8;
}

.kid-wrong h3 {
    color: #e03131;
}

.kid-wrong p {
    color: #c92a2a;
}

@keyframes kidPop {
    0% {
        transform: scale(0.3) rotate(-10deg);
        opacity: 0;
    }

    60% {
        transform: scale(1.1) rotate(5deg);
    }

    100% {
        transform: scale(1) rotate(0);
        opacity: 1;
    }
}

@keyframes emojiBounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15px);
    }
}

#finalPopup {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 4000;
}

.final-kid-box {
    background: linear-gradient(135deg, #fff7d6, #e6fff5);
    padding: 30px 35px;
    border-radius: 35px;
    text-align: center;
    width: 450px;
    animation: finalBounce 0.8s ease;
    box-shadow: 0 20px 0 #ffd43b, 0 30px 50px rgba(0, 0, 0, 0.2);
}

.final-kid-box h2 {
    font-size: 2.2em;
    color: #2f9e44;
    margin-bottom: 10px;
}

.final-kid-box p {
    font-size: 1.3em;
    font-weight: 600;
}

#stars {
    font-size: 2.3em;
    margin: 12px 0;
}

.playAgain-btn {
    background: #ffac30;
    color: white;
    border: none;
    padding: 14px 34px;
    border-radius: 30px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 12px;
}

.playAgain-btn:active {
    transform: translateY(6px);
    box-shadow: 0 2px 0 #1c7ed6;
}

@keyframes finalBounce {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }

    60% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width:900px) {
    body {
        align-items: center;
        padding: 20px;
        overflow: auto;
    }

    .game {
        width: 100%;
        padding: 25px;
    }

    .question-box {
        font-size: 26px;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .answers {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .answer {
        font-size: 24px;
        height: 90px;
    }

    .nav button {
        width: 130px;
        height: 50px;
        font-size: 20px;
    }

    .final-kid-box {
        width: 90%;
        max-width: 340px;
        padding: 22px;
    }

    .final-kid-box h2 {
        font-size: 1.8em;
    }

    .final-kid-box p {
        font-size: 1.1em;
    }

    #stars {
        font-size: 1.8em;
    }
}

@media (max-width:768px) {
    body {
        padding: 30px 0px 10px;
        align-items: flex-start;
    }

    .game {
        padding: 20px;
    }

    .question-box {
        font-size: 22px;
    }

    .question-image img {
        width: 230px;
        height: 180px;
    }

    .answers {
        grid-template-columns: 1fr 1fr;
        gap: 14px;
    }

    .answer {
        font-size: 20px;
        height: 80px;
    }

    .nav button {
        width: 95px;
        height: 45px;
        font-size: 20px;
    }
}

@media (max-width:480px) {
    .question-box {
        font-size: 20px;
    }

    .answers {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .answer {
        font-size: 18px;
        height: 70px;
    }

    .nav {
        margin-top: 20px;
    }

    .nav button {
        width: 105px;
        height: 40px;
        font-size: 16px;
    }

    .kid-card {
        width: 280px;
        padding: 15px;
    }

    .kid-icon {
        font-size: 4em;
    }

    .kid-card h3 {
        font-size: 1.5em;
    }

    .final-kid-box {
        width: 90%;
        max-width: 300px;
        padding: 20px;
    }

    .final-kid-box h2 {
        font-size: 1.5em;
    }

    .final-kid-box p {
        font-size: 1em;
    }

    #stars {
        font-size: 1.6em;
    }

    .playAgain-btn {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}