        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Livvic", sans-serif;
        }

        html,
        body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            /* background: linear-gradient(135deg, #6ec6ff, #a6ddff); */
        }

        body {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        /* ================= SCALE ROOT ================= */
        .scale-root {
            width: 1366px;
            height: 768px;
            transform-origin: center center;
        }


        /* ================= MAIN CONTAINER ================= */
        .main-container {
            width: 100%;
            height: 100%;
            padding: 20px 40px;
            display: flex;
            flex-direction: column;
        }

        /* ================= INSTRUCTION ================= */
        .instruction {
            font-size: 35px;
            margin-top: 12px;
            margin-bottom: 10px;
            text-align: center;
            color: #0A3D62;
            font-weight: 400;
            margin-top: 0;
        }

        /* ================= GRID ================= */
       .match-grid {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px !important;
    align-items: start;
}

        /* ================= LIST ================= */
     .list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

        /* ================= ITEMS & TARGETS ================= */
       .item,
.target {
    background: #fff;
    border: 2px dashed #c7d7f2;
    border-radius: 16px;
    padding: 14px 18px;
    display: flex;
    align-items: center;
    gap: 25px;
    height: 145px;
    width: 110%;
    font-size: 30px;
    color: #0A3D62;
}

.item img,
.label img{
    width:100px;
    height:100px;
    object-fit:contain;
}

        .item {
            cursor: grab;
        }

        .label {
            display: flex;
            align-items: center;
            flex: 1;
        }

        /* ================= ICONS ================= */
        .icons {
            font-size: 60px;
        }

        /* ================= DROP SLOT ================= */
        .slot {
            
            border-radius: 12px;
            padding: 6px 14px;
            
            
        }

        /* ================= CORRECT ================= */
        .pair-ok {
          
            font-size: 50px;
        }

        /* ================= POPUPS ================= */
        .popup {
            position: fixed;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            z-index: 999;
        }

        .popup div {
            background: #fff;
            padding: 40px 60px;
            border-radius: 22px;
            font-size: 32px;
        }

      
/* ================= FINAL POPUP DESIGN ================= */
.score-overlay{
    position: fixed;
    inset: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
    z-index:1000;
}
.score-box{
    background-color: #ffffff;
    width:400px;
    padding:10px 10px;
    border-radius:30px;
    text-align:center;
    color:white;
   
    
}

.trophy{
    font-size:70px;
    margin-bottom:10px;
    animation:trophyBounce 1s infinite alternate;
}

.score-circle{
    width:140px;
    height:140px;
    border-radius:50%;
    background:white;
      box-shadow:0 10px 25px rgba(0,0,0,0.25);  
    color:#333;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 5px;
    font-size:37px;
    font-weight:600;
    margin:20px auto;
}

.stars{
    font-size:40px;
    margin-bottom:20px;
}

@keyframes trophyBounce{
    from{ transform:translateY(0); }
    to{ transform:translateY(-12px); }
}

        .restart{
    background:#ff9d2e;
    border:none;
    padding:14px 30px;
    font-size:18px;
    border-radius:25px;
    color:white;
    cursor:pointer;
    transition:0.25s;
}









.item.active{
outline:4px solid #4CAF50;
transform:scale(1.05);
}

.shake{
animation:shake .3s;
}

@keyframes shake{
0%{transform:translateX(0)}
25%{transform:translateX(-5px)}
50%{transform:translateX(5px)}
75%{transform:translateX(-5px)}
100%{transform:translateX(0)}
}






.slot img{
    width:100%;
    max-width:100px;
    height:auto;
    object-fit:contain;
    display:block;
    margin:auto;
}







@media (max-width: 1050px) {
.item,
    .target {
        height: 120px;
        font-size: 22px;
        gap: 15px;
    }
}


@media (max-width: 900px) {

    .main-container {
        padding: 15px 20px;
    }

    .instruction {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .match-grid {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .item,
    .target {
        height: 120px;
        font-size: 22px;
        gap: 15px;
        padding: 12px;
    }

    .item img,
    .label img {
        width: 70px;
        height: 70px;
    }

    .icons {
        font-size: 40px;
    }

    .slot {
        font-size: 20px;
        padding: 6px 12px;
    }

    .score-box {
        width: 320px;
        padding: 15px;
    }

    .score-circle {
        width: 110px;
        height: 110px;
        font-size: 28px;
    }

    .trophy {
        font-size: 55px;
    }

    .stars {
        font-size: 30px;
    }

    .restart {
        font-size: 16px;
        padding: 12px 24px;
    }
}




/* ================= MOBILE FULL SCREEN ================= */
@media (max-width: 768px) {

    html, body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    body {
        display: block; /* remove center alignment */
        height: auto;
        min-height: 100vh;
        margin-top: 50px;
    }

    /* REMOVE FIXED DESKTOP SIZE */
       .scale-root {
        width: 100% !important;
        height: auto !important;
        transform: none !important;
    }

    /* MAIN CONTAINER FULL WIDTH */
    .main-container {
        width: 100%;
        min-height: 100vh;
        padding: 12px;
    }

    /* TITLE */
    .instruction {
        font-size: 15px;
        text-align: center;
        margin-bottom: 15px;
    }

    /* STACK LAYOUT (IMPORTANT) */
    .match-grid {
      grid-template-columns: 1fr 1fr;
      font-size: 20px;
        gap: 20px;
    }

    /* LIST */
    .list {
        width: 100%;
        gap: 12px;
    }

    /* BOX DESIGN */
    .item,
    .target {
        width: 100%;
        height: auto;
        padding: 10px;
        font-size: 16px;
        gap: 12px;
        border-radius: 12px;
    }

    /* IMAGE SIZE */
    .item img,
    .label img {
        width: 40px;
        height: 40px;
    }

    /* ICON */
    .icons {
        font-size: 24px;
    }

    /* SLOT */
    .slot {
        font-size: 14px;
        padding: 6px 10px;
    }
      .slot {
        font-size: 11px;
        padding: 4px 7px;
    }
       .slot img{
        width:40px;
        height: 40px;
    }


    /* CORRECT STATE */
    .pair-ok {
        font-size: 18px;
    }

    /* POPUP */
    .popup div {
        width: 90%;
        padding: 20px;
        font-size: 18px;
    }

    /* SCORE BOX */
    .score-box {
        width: 90%;
        padding: 20px;
    }

    .score-circle {
        width: 90px;
        height: 90px;
        font-size: 20px;
    }

    .trophy {
        font-size: 40px;
    }

    .stars {
        font-size: 24px;
    }

    .restart {
        font-size: 14px;
        padding: 10px 20px;
    }
}

/* ========== 300px - 350px (Very Small Phones) ========== */
@media (min-width: 300px) and (max-width: 350px) {
    html, body {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        height: auto;
        margin: 0;
        padding: 15px 0;
    }

    .scale-root {
        width: 100% !important;
        height: auto !important;
        transform: none !important;
    }

    .main-container {
        width: 100%;
        padding: 10px;
        margin-top: 100px;
    }

    .instruction {
        font-size: 14px;
        text-align: center;
        margin-bottom: 12px;
    }

    .match-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px !important;
    }

    .list {
        width: 100%;
        gap: 8px;
    }

    .item, .target {
        width: 100%;
        min-height: 60px;
        padding: 8px 10px;
        font-size: 11px;
        gap: 6px;
    }

    .item img, .label img {
        width: 28px;
        height: 28px;
    }

    .icons {
        font-size: 16px;
    }

    .slot {
        font-size: 10px;
        padding: 3px 5px;
    }
      .slot img{
        width:40px;
    }

}

/* ========== 351px - 400px (Small Phones) ========== */
@media (min-width: 351px) and (max-width: 400px) {
    html, body {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overflow-y:hidden;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        height: auto;
        margin: 0;
        padding: 20px 0;
    }

    .scale-root {
        width: 100% !important;
        height: auto !important;
        transform: none !important;
    }

    .main-container {
        width: 100%;
        padding: 12px;
                margin-top: 30px;
    }

    .instruction {
        font-size: 16px;
        text-align: center;
        margin-bottom: 35px;
    }

    .match-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 18px !important;
    }

    .list {
        width: 100%;
        gap: 10px;
    }

    .item, .target {
        width: 100%;
        height: 100px;
        padding: 10px 2px;
        font-size: 15px;
        gap: 8px;
    }

    .item img, .label img {
        width: 52px;
        height: 52px;
    }

    .icons {
        font-size: 20px;
    }

    .slot {
        font-size: 11px;
        padding: 4px 7px;
    }
       .slot img{
        width:30px;
        height: 30px;
    }

    .score-box {
        width: 95%;
        padding: 15px;
    }

    .score-circle {
        width: 80px;
        height: 80px;
        font-size: 18px;
    }

    .trophy {
        font-size: 40px;
    }

    .stars {
        font-size: 22px;
    }

    .restart {
        font-size: 12px;
        padding: 8px 16px;
    }
}

/* ========== 401px - 480px (Medium Phones) ========== */
@media (min-width: 401px) and (max-width: 480px) {
    html, body {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        height: auto;
        margin: 0;
        padding: 25px 0;
    }

    .scale-root {
        width: 100% !important;
        height: auto !important;
        transform: none !important;
    }

    .main-container {
        width: 100%;
        padding: 15px;
                margin-top: 100px;
    }

    .instruction {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }

    .match-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 22px !important;
    }

    .list {
        width: 100%;
        gap: 12px;
    }

    .item, .target {
        width: 100%;
        height: 100px;
        padding: 12px 0px;
        font-size: 13px;
        gap: 10px;
    }

    .item img, .label img {
        width: 38px;
        height: 38px;
    }

    .icons {
        font-size: 24px;
    }

    .slot {
        font-size: 13px;
        padding: 5px 9px;
    }
  .slot {
        font-size: 11px;
        padding: 4px 7px;
    }
       .slot img{
        width:30px;
        height: 30px;
    }

    .score-box {
        width: 90%;
        max-width: 350px;
        padding: 20px;
    }

    .score-circle {
        width: 90px;
        height: 90px;
        font-size: 22px;
    }

    .trophy {
        font-size: 50px;
    }

    .stars {
        font-size: 28px;
    }

    .restart {
        font-size: 14px;
        padding: 10px 20px;
    }
}

/* ========== 481px - 550px (Large Phones) ========== */
@media (min-width: 481px) and (max-width: 550px) {
    html, body {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        height: auto;
        margin: 0;
        padding: 30px 0;
    }

    .scale-root {
        width: 100% !important;
        height: auto !important;
        transform: none !important;
    }

    .main-container {
        width: 100%;
        max-width: 520px;
        padding: 18px;
        margin: 0 auto;
                margin-top: 80px;
     
    }

    .instruction {
        font-size: 20px;
        text-align: center;
        margin-bottom: 22px;
    }

    .match-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px !important;
    }

    .list {
        width: 100%;
        gap: 14px;
    }

    .item, .target {
        width: 100%;
        min-height: 90px;
        padding: 12px 4px;
        font-size: 17px;
        gap: 12px;
    }

    .item img, .label img {
        width: 45px;
        height: 45px;
    }

    .icons {
        font-size: 28px;
    }

    .slot {
        font-size: 15px;
        padding: 6px 11px;
    }
      .slot {
        font-size: 11px;
        padding: 4px 7px;
    }
       .slot img{
        width:30px;
        height: 30px;
    }

    
}

/* ========== 551px - 680px (Small Tablets) ========== */
@media (min-width: 551px) and (max-width: 680px) {
    html, body {
        width: 100%;
        height: auto;
        overflow: hidden;
        /* overflow-y: auto; */
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        height: auto;
        margin: 0;
        padding: 35px 0;
    }

    .scale-root {
        width: 100% !important;
        height: auto !important;
        transform: none !important;
    }

    .main-container {
        width: 100%;
        max-width: 650px;
        padding: 20px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .instruction {
        font-size: 22px;
        text-align: center;
        margin-bottom: 25px;
    }

    .match-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px !important;
    }

    .list {
        width: 100%;
        gap: 15px;
    }

    .item, .target {
        width: 100%;
        min-height: 105px;
        padding: 15px 0px;
        font-size: 19px;
        gap: 14px;
    }

    .item img, .label img {
        width: 55px;
        height: 55px;
    }

    .icons {
        font-size: 32px;
    }

    .slot {
        font-size: 17px;
        padding: 7px 13px;
    }

      .slot {
        font-size: 11px;
        padding: 4px 7px;
    }
       .slot img{
        width:50px;
        height: 50px;
    }


    .score-box {
        width: 85%;
        max-width: 380px;
        padding: 22px;
    }

    .score-circle {
        width: 100px;
        height: 100px;
        font-size: 24px;
    }

    .trophy {
        font-size: 55px;
    }

    .stars {
        font-size: 30px;
    }

    .restart {
        font-size: 16px;
        padding: 12px 22px;
    }
}

